*.lock.json
gdb/.gdb_history
macos/config/Qt*
macos/config/ssh/id_*
macos/config/ssh/known_hosts
macos/config/theme
macos/config/tmux/plugins
macos/config/vim/.netrwhist
macos/config/vim/autoload
macos/config/vim/bundle
macos/config/vim/plugged
macos/config/vim/view
tmux/.tmux/plugins
vim/.nvim
vim/.vim/.netrwbook
vim/.vim/.netrwhist
vim/.vim/bundle/
