vim/.nvim
vim/.vim/bundle/
vim/.vim/.netrwhist
vim/.vim/.netrwbook
macos/config/vim/autoload
macos/config/vim/bundle
macos/config/vim/plugged
macos/config/vim/view
macos/config/vim/.netrwhist
macos/config/ssh/id_*
macos/config/ssh/known_hosts
macos/config/tmux/plugins
tmux/.tmux/plugins
*.lock.json
gdb/.gdb_history
